DB_HOST=localhost
DB_PORT=5432
DB_NAME=gamehub
DB_USER=postgres
DB_PASSWORD=postgres
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?appName=GameHub-Cluster
ANALYTICS_URL=http://localhost:5000
